.card {
  margin: 20vh  auto !important;
}

.user_content {
  display: flex;
  /* justify-content:space-between; */
}

.user_content .meta {
  margin-left: auto;
}

.friends {
  margin: 5px 0;
}

.friends span {
  font-weight: 300;
}
