*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  color: white;
}

.burger{
  padding: 15px 10px;
  background-color: rgb(30, 38, 91);
}

.burger--nav{
  display: flex;

}

.burger--title{
  margin-right: auto;
}

.burger--lists{ 
  display: flex;
  justify-content: space-between;

  width: 40vw;
}

.burger--lists p{
  cursor: pointer;
}

.nav--lists{
  display: none;
}
.hide {
  display: none;
}
.menu {
  display: none;
}

@media only screen and (min-width: 1200px){
  .burger--lists{
    width: 30vw;
  }
}

